@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: Iosevka Nerd Font;
    font-size: 14px;
    padding: 0;
}

window#waybar{
    all:unset;
    font-size: 14px;
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    all:unset;
    color: @foreground;
    padding: 0 0.5em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding: 0 0.5em;
}

