@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaCove Nerd Font';
  font-size: 14px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

window#waybar{
    all:unset;
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    all:unset;
    color: @foreground;
    padding: 0 8px;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray,
#clock {
    all:unset;
    padding: 0 8px;
    font-size: 14px;
}

